{% extends "request/page.html" %}

{% block actions_content %}
{% endblock %}

{% block breadcrumb_content %}
  <li><a href="{{ h.url_for('member_requests_mylist') }}">{{ _('Memberships') }}</a></li>
  <li><a href="{{ h.url_for('user.read', id=c.userobj.name) }}">{{ c.userobj.display_name }}</a></li>
  <li class="active"><a href="#">{{ _('Manage') }}</a></li>
{% endblock %}

{% block subtitle %}{{ _('New membership request') }}{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1>{% trans %}Manage and request organization membership{% endtrans %}</h1>
      {% block form %}{{ c.form | safe }}{% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow">
    <h2 class="module-heading"><i class="fa fa-user-plus"></i> {{ _('Manage and request organization membership') }}</h2>
    <div class="module-content">
      <p>
        {% trans %}You can request to be a member of the organization.{% endtrans %}
      </p>
    </div>
  </section>

  {% if h.check_access('member_requests_mylist') %}
  {% block request_create_mylist %}
  <section class="module module-narrow module-shallow">
    {% block request_create_mylist_inner %}
      <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('View memberships') }}</h2>
      <div class="module-content">
        <p>{% trans %}View a summary of your existing memberships and outstanding requests.{% endtrans %}</p>
        <p class="action">
        {% block request_mylist_add_button %}
          <a class="btn btn-default" href="{{ h.url_for('member_requests_mylist') }}">{{ _('View memberships') }}</a>
        {% endblock %}
        </p>
      </div>
    {% endblock %}
  </section>
  {% endblock %}
  {% endif %}


{% endblock %}
