  {% set admin = h.is_admin(c.user) %}
  {% if admin %}
  {% block request_approve %}
  <section class="module module-narrow module-shallow">
    {% block request_approve_inner %}
      <h2 class="module-heading"><i class="fa fa-check-circle"></i> {{ _('Approve memberships') }}</h2>
      <div class="module-content bg-info">
        <p>{% trans %}Administrators can approve or reject memberships.{% endtrans %}</p>
        {% set approvals = h.pending_approvals() %}
	{% if approvals == 0 %}
            {% set approvals = "none" %}
        {% endif %}
        <p>{% trans %}There are {{ approvals }} pending.{% endtrans %}</p>
        <p class="action">
        {% block request_approve_button %}
          <a class="btn btn-default" href="{{ h.url_for('member_requests_list') }}">{{ _('Approve memberships') }}</a>
        {% endblock %}
        </p>
      </div>
    {% endblock %}
  {% endblock %}
  {% endif %}
