  {% if h.check_access('member_requests_mylist') %}
  {% block request_create_mylist %}
  <section class="module module-narrow module-shallow">
    {% block request_create_mylist_inner %}
      <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('View memberships') }}</h2>
      <div class="module-content">
        <p>{% trans %}View a summary of your existing memberships and outstanding requests.{% endtrans %}</p>
        <p class="action">
        {% block request_mylist_add_button %}
          <a class="btn btn-default" href="{{ h.url_for('member_request.mylist') }}">{{ _('View memberships') }}</a>
        {% endblock %}
        </p>
      </div>
    {% endblock %}
  </section>
  {% endblock %}
  {% endif %}
